body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 60px;
    color: #363958;
}

h2 {
    font-size: 40px;
    color: #363958;
}

h3 {
    font-size: 20px;
    color: #363958;
}

h4 {
    color: #3E3E3E;
}

p {
    /*border: 2px solid forestgreen; */
    width: 85%;
    font-size: 16px;
    line-height: 24px;
    color: #3E3E3E;
}

.bag-header {
    background-color: rgba(255, 251, 240, 1);
}

.dotted {
    margin-right: 400px;

}

.navbar-brand img {
    width: 300px;
}

.navbar li {
    font-weight: bold;
}

.blue-color-title {
    font-family: 'Bebas Neue', sans-serif;
    color: rgba(54, 57, 88, 1);
}

.green-color-title {
    font-family: 'Bebas Neue', sans-serif;
    color: rgba(118, 194, 126, 1);
}

.btn-buy {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: rgba(54, 57, 88, 1);
    color: white;
}

.cover-intro-left {
    padding-left: 100px;
    padding-top: 90px;
}

.cover-intro-right {
    padding-left: 100px;
    padding-top: 60px;
}

.row img {
    width: 70%;
}

#navbarNav {
    width: 50%;
    /*border: 2px solid red;*/
}
.bag-card {
    border-radius: 20px;
}
.bag-card-image {
    margin: 10px auto;
    width: 334px;
    height: 350px;
    border-radius: 20px;
    background-color: rgba(241, 241, 241, 1);
    /*border: 2px solid red;*/
}
.bag-card-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
    padding: 15px 0;

}
.bag-card-footer {
    background-color: white;
    border: 0;
}
.price-green-color {
    font-size: 30px;
    font-weight: bold;
    color: rgba(118, 194, 126, 1);
}
.outro-small {
    /*border:2px solid red;*/
    width: 500px;
    height: 100px;
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 10px;
}
.outro-small img {
    padding-left: 30px;
    padding-right: 20px;
    width: 130px;
}
.outro-cover {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 30px;
}

.end-outro {
    padding-top: 100px;
    padding-bottom: 100px;
}